extends master

block css
    link(href="/css/text.css", rel="stylesheet")

block body
    div(class="jumbotron", style="padding: 50px 0;")
        div(class="container")
            h1(id="title")= chapter.name
            - if (nextChapter)
                div(style="text-align: right; margin-top: 25px;")
                    a(href="/themes/#{theme.slug}/#{nextChapter.slug}")
                        h3(style="color:#282828; font-weight: bold;")
                            ='Next: ' + nextChapter.name
                            i(class="glyphicon glyphicon-chevron-right", style="top: 5px;")

    div(class="container")
        div(id="content")
            - for (var i = 0; i < chapter.stories[0].sections.length; i++)
                div(class="section")!= chapter.stories[0].sections[i].content.replace(/{{cite:(\d+)}}/g, function(match, p1) { return '<a href="#" data-toggle="tooltip" title="'+chapter.stories[0].citations[p1-1]+'">['+p1+']</a>'; })
        - if (chapter.stories[0].bibliography.length > 0)
            div(id="bibliography", style="margin-top: 50px;")
                h2
                    b Bibliography
                - for (var i = 0; i < chapter.stories[0].bibliography.length; i++)
                    div(class="section")!= chapter.stories[0].bibliography[i]
  

block js
    script(src="/js/text.js")
